<section id="contactus" data-speed="4" data-type="background">
  <div id="contactus_layer">
  <div class="container contactus_layer">
    <div class="row text-center">
        <div class="col-md-12"><h2>Contact Us</h2></div>
    </div>
    <div class="row">
        <div class="col-md-12"><hr class="white"></div>
    </div>
    <div class="row">
      <div class="col-lg-6 pull-left">
        <dl class="dl-horizontal dl-contact">
          <dt><span class="glyphicon glyphicon-home"</span></dt>
          <dd>18th floor, Trafalgar Plaza, 105 H.V Dela Costa St., Makati City</dd>
          <dt><span class="glyphicon glyphicon-earphone"</span></dt>
          <dd>(632).551.8669 (PLDT) | (632).310.4136 (Eastern)</dd>
          <dt><span class="glyphicon glyphicon-phone"</span></dt>
          <dd>(63).920.666.0641 (Smart) </dd>
          <dt><span class="glyphicon glyphicon-print"</span></dt>
          <dd>(632).729.0529 (Globe)</dd>
       </dl>
      </div>
      <div id="map-container" class="col-lg-6">

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script>
    function init_map() {
		  var var_location = new google.maps.LatLng(14.5607166, 121.0263374);
      var var_mapoptions = {
          center: var_location,
          zoom: 14
      };
      var var_marker = new google.maps.Marker({
			position: var_location,
			map: var_map,
			title:"TechResource Inc. - Makati"});
      var var_map = new google.maps.Map(document.getElementById("map-container"),
      var_mapoptions);
      var_marker.setMap(var_map);

    }
      google.maps.event.addDomListener(window, 'load', init_map);
      </script>
      </div>
    </div>
  </div>
</div>
</section>

<!--
<section id="contactus" data-speed="2" data-type="background">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 contactus_left">
        <h2>Contact Us</h2>
        <ul class="list-unstyled">
          <li><p><span class="glyphicon glyphicon-home"</span> 18th floor, Trafalgar Plaza, 105 H.V Dela Costa St., Makati City</p> </li>
          </li><p><span class="glyphicon glyphicon-earphone"</span> (632).551.8669 (PLDT) | (632).310.4136 (Eastern) </p></li>
          <li><p><span class="glyphicon glyphicon-phone"</span> (63).920.666.0641 (Smart) </p></li>
          </li><p><span class="glyphicon glyphicon-print"</span> (632).729.0529 (Globe) </p></li>
        </ul>

      </div>
      <div class="col-lg-6">
        Maps Here
      </div>


    </div>
  </div>
</section>
-->
