/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*
  css descriptions here
*/

 body,
 html {
     width: 100%;
     height: 100%;
 }
 body,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
     font-weight: 700;
 }

.tr-logo-link{
  padding: 8px;
}
.tr-logo {
  height: 35px;
  width: 35px;
}
 .tr-logo:hover{
  content: url('tr-logo-160-blue.png');
  height: 35px;
  width: 35px;
 }

 .navbar-default {
    background-color: rgba(255,255,255, 0.3);
    border:none;
 }
 .navbar-default .navbar-brand {
   color:blue;
   font-weight: bold;
   color: #333333;
 }
 .navbar-default .navbar-brand:hover,
 .navbar-default .navbar-brand:focus{
   color:#2196F3;
 }
 .navbar-default .navbar-nav > li > a {
   color: #333333;
 }
 .navbar-default .navbar-nav > li > a:hover,
 .navbar-default .navbar-nav > li > a:focus {
  color:#2196F3;
 }
 #home {
   background: url(intro-bg.jpg) 50% 0 fixed;
   height: auto;
   margin: 0 auto;
     width: 100%;
     position: relative;
     padding: 325px 0;
 }
 #home_layer{
   position: absolute;
   top: 0;
   width: 100%;
   height: 100%;
   color: #f8f8f8;
 }
 .home-message{
   padding-top: 200px;
   text-align:center;
 }
 .home-message > h1{
   margin: 0;
   text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
   font-size: 5em;
 }
 .home-message > small{
   margin: 0;
   text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
   font-size: 1em;
 }
 .intro-divider {
     width: 700px;
     border-top: 1px solid #f8f8f8;
     border-bottom: 1px solid rgba(0,0,0,0.2);
 }
  #aboutus {
   /*background: url(b24.png) 50% 0 fixed; */
   height: auto;
   margin: 0 auto;
   width: 100%;
   position: relative;
   /* box-shadow: 0 0 50px rgba(0,0,0,0.8); */
   padding: 50px 0;
   color: #2196F3;
 }
 i{
    font-size: 65px;
  }
  hr {
      max-width: 80px;
      border-color: #2196F3;
      border-width: 3px;
  }
  hr.white {
      border-color: #f8f8f8;
  }
 #carreers {
   /*background: url(b24.png) 50% 0 fixed; */
   background-color: #2196F3;
   height: auto;
   margin: 0 auto;
   width: 100%;
   position: relative;
   padding: 100px 0;
   color: #fff;
 }
 #contactus{
/*   background: url(contact-bg.jpg); */
    background: url(contact-us-bg4.png);
   background-repeat: no-repeat !important;
   background-position: top center !important;
   height:80%;
   color: #f8f8f8;
   margin: 0 auto !important;
     width: 100%;
     position: relative;
 }
 #contactus_layer{
   position: absolute;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0,0,0,0.7);
 }
 .contactus_layer{
   position:relative;
   padding-top:50px;
 }
 .dl-contact  dd,
 .dl-contact  dt{
   margin-top: 10px;
   padding-top: 10px;
 }
 #map-container{
    height: 500px;
    width: 500px;
}
/*
 icons with circle
*/
i.encircle,
span.encircle{
    background: #2196F3;
    padding: 3px;
    border-radius: 100%;
    color: white;
}
i.encircle:hover,
span.encircle:hover,
i.encircle:focus,
span.encircle:focus
{
  color:#333333;
}
a.clear-bg-link:hover,
a.clear-bg-link:focus{
    background-color:transparent;
}
#map-container { height: 300px }
.breadcrumb {background: rgba(245, 245, 245, 0); border: 0px solid rgba(245, 245, 245, 1); border-radius: 4px; display: block;}
.breadcrumb li {font-size: 12px;}
a.clear-bg-link {color: rgba(66, 139, 202, 1);}
a.clear-bg-link:hover {color: #333333;}
a.clear-bg-link:focus {color: #333333;}
.breadcrumb>.active {color: rgba(153, 153, 153, 1);}
.breadcrumb>li+li:before {color: rgba(204, 204, 204, 1); content: "\276F\00a0";}
.copyright {
  margin: 0;
   padding: 0;
}
